:root {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration:none;
}

/*
Different body definitions are for theme toggling
*/

body.dark {
    --bg1: #242424;
    --bg2: #181818;
    --grey1: #909096;
    --accent: #0087D7;
    --shadow-color: black;
    --shade-color: rgba(0, 0, 0, .7);
    --themeTog-color: #E6E6E6;
    --text-color1: #D6D6D6;
    --text-color2: var(--grey1);
    --nav-thickness: 60px;
    --search-thickness: 800px;
    color: var(--text-color);
    transition: .2s;
    background: var(--bg1);
}

body {
    --bg1: #E6E6E6;
    --bg2: #EFEFEF;
    --grey1: #909096;
    --accent: #0087D7;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --shade-color: rgba(0, 0, 0, 0.7);
    --themeTog-color: #1D1D1D;
    --text-color1: #484848;
    --text-color2: var(--grey1);
    --nav-thickness: 60px;
    --search-thickness: 800px;
    color: var(--text-color);
    transition: .2s;
    background: var(--bg1);
}

/*
shade stuff
the shade is overlaid over the nav and clumps and under all popup menus to prevent interaction with anything besides a popup
*/

#shade {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--shade-color);
    top: 0;
    z-index: 2;
    overflow: hidden;
}

/*
Search bar stuff
*/

#search-bar {
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    width: var(--search-thickness);
    height: 3em;
    position: fixed;
    top: 2vw;
    left: 50vw;
    transform: translate(-50%, -200%);
    z-index: 2;
    box-shadow: 10px 10px 10px var(--shadow-color);
    transition: .2s;
}

#search-bar input {
    border: 4px solid var(--accent);
    border-radius: .5rem;
    background: var(--bg2);
    font-size: 2em;
    color: var(--text-color1);
    width: 100%;
    padding: .2em;
}

/*
Navbar stuff
*/

#navbar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: var(--nav-thickness);
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar img {
    width: 80%;
}

#navbar .nav-link {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--nav-thickness);
    margin-top: 2vh;
}

#navbar .nav-svg {
    position: absolute;
    width: 50%;
    fill: var(--text-color1);
    pointer-events: none;
    transition: .5s;
    height: 100%;
}

#navbar #themeTog .nav-svg {
    fill: var(--themeTog-color);
}

#navbar #sync-link .nav-svg {
    fill: var(--accent);
}

#navbar .nav-text {
    position: absolute;
    opacity: 0;
    font-size: .9vw;
    text-align: center;
    color: var(--accent);
    transition: .5s;
}

#navbar .nav-link:hover >.nav-svg {
    fill: var(--accent);
    opacity: 0;
}

#navbar .nav-link:hover >.nav-text {
    opacity: 100%;
}

/*
Clumps stuff:
This is the main part of the window where all of the entries are shown in their unexpanded form
Note: most of this structure is not defined in index.html, but is added to the dom from index.js
*/

#clumps {
    font-size: 1vw;
    display:flex;
    flex-wrap: wrap;
    padding: 2em;
    margin-left: var(--nav-thickness);
    justify-content: center;
    z-index: 3;
}

#clumps .clumpContainer {
    margin: .5em;
    border-radius: .5em;
    padding: 1em 1em .5em 1em;
    background-color: var(--bg2);
    box-shadow: 2px 2px 2px var(--shadow-color);
    transition: .2s;
    min-height: 13em;
}

#clumps .clumpContainer:hover {
    transform: scale(1.1);
    background-color: var(--accent);
    box-shadow: 10px 10px 10px var(--shadow-color);
}

#clumps .clumpContainer .previewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clumps .clumpContainer .previewContainer .imgLogo {
    width: 10em;
    border-radius: 1rem;
    transition: .2s;
    margin-bottom: auto;
    margin-top: auto;
}

#clumps .clumpContainer .previewContainer h {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    color: var(--text-color1);
    padding-top: .5em;
}

/*
masterPassMenu, clumpEditor, clumpCreator, and passwordGenerator are all members of popup
*/

.popup {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    overflow: hidden;
    box-shadow: 4px 4px 4px var(--shadow-color);
}

/*
Password Generator: This section handles all of the password generator tools
*/

#password-generator {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 35vw;
    transform: translate(-50%, -60%);
    background: var(--bg2);
    padding: 3% 5%;
    border-radius: .5rem;
    color: var(--text-color1);
}

#password-generator .result-container {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    color: var(--text-color2);
}

#password-generator .setting1 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 3% 5%;
    width: 100%;
    color: var(--text-color);
}

#password-generator .setting2 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1% 2%;
    width: 100%;
    color: var(--text-color);
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#password-generator h2 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 2.5em;
    color: var(--text-color2);
    padding-top: .5em;
}

#password-generator #cancel-password {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 0 7vw 0 2vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 1em;
}

#password-generator #cancel-password:hover {
    border-color: var(--accent)
}

#password-generator #generate {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 0 8.5vw 0 2vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 1em;
}

#password-generator #generate:hover {
    border-color: var(--accent)
}

#password-generator #use-password {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 0 4.5vw 0 2vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 1em;
}

#password-generator #use-password:hover {
    border-color: var(--accent)
}

#password-generator .btn-div {
    text-align: center;
}

#password-generator #length-display {
    border: 2px solid var(--bg2);
    border-radius: .5rem;
    background: var(--bg2);
    font-size: 1em;
    color: var(--text-color1);
    width: 2em;
    padding: .1em;
}

#password-generator input {
    border: 2px solid var(--bg2);
    border-radius: .5rem;
    background: var(--bg2);
    font-size: 1em;
    color: var(--text-color1);
    width: 10em;
    padding: .1em;
}

#password-generator input:hover {
    border-color: var(--accent)
}

/*
ClumpCreator stuff: This section handles all of the creator tools when adding a new password
*/

#clumpCreator {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 27vw;
    transform: translate(-50%, -60%);
    background: var(--bg2);
    padding: 3% 5%;
    border-radius: .5rem;
    color: var(--text-color1);
}

#clumpCreator .creatorBody {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    color: var(--text-color);
}

#clumpCreator .creatorBody div {
    padding-top: .5em;
}

#clumpCreator .creatorHeader {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    color: var(--text-color);
    padding-top:.5em;
}

#clumpCreator svg {
    fill: var(--text-color1);
    width: 10%;
    max-height: 4em;
    margin-left: 1em;
    align-self:center;
}

#clumpCreator svg:hover {
    fill: var(--accent);
}

#clumpCreator #closeCreator {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 0 6vw 0 2vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 1em;
}

#clumpCreator #closeCreator:hover {
    border-color: var(--accent)
}

#clumpCreator #saveCreator {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 0 5.5vw 0 2vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 1em;
}

#clumpCreator #saveCreator:hover {
    border-color: var(--accent)
}

#clumpCreator .creatorFooterButtons {
    text-align: center;
}

#clumpCreator input {
    border: 2px solid var(--bg2);
    border-radius: .5rem;
    background: var(--bg2);
    font-size: 1em;
    color: var(--text-color1);
    width: 10em;
    padding: .2em;
}

#clumpCreator input:hover {
    border-color: var(--accent)
}

/*
ClumpEditor stuff: This section handles all of the editor tools when editing a passwords fields
*/

#clumpEditor {
    text-align: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 35vw;
    transform: translate(-50%, -60%);
    background: var(--bg2);
    padding: 3% 5%;
    border-radius: .5rem;
    color: var(--text-color1);
}

#clumpEditor .editorBody {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    color: var(--text-color);
}

#clumpEditor .editorBody div {
    padding-top: .5em;
}

#clumpEditor .editorHeader {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    color: var(--text-color);
    padding-top:.5em;
}

#clumpEditor svg {
    fill: var(--text-color1);
    width: 10%;
    max-height: 4em;
    margin-left: 1em;
    align-self:center;
}

#clumpEditor svg:hover {
    fill: var(--accent);
}

#clumpEditor #closeEditor {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 0 6vw 0 2vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 1em;
}

#clumpEditor #closeEditor:hover {
    border-color: var(--accent)
}

#clumpEditor #saveEditor {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 0 5.5vw 0 2vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 0.5em;
}

#clumpEditor #saveEditor:hover {
    border-color: var(--accent)
}

#clumpEditor #deleteClump {
    display:inline-block;
    border: 2px solid red;
    border-radius: 1rem;
    font-size: 1.5em;
    margin: 0 1vw;
    padding: 0 6.5vw 0 2vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 0.5em;
}

#clumpEditor #deleteClump:hover {
    border-color: var(--accent)
}

#clumpEditor input {
    border: 2px solid var(--bg2);
    border-radius: .5rem;
    background: var(--bg2);
    font-size: 1em;
    color: var(--text-color1);
    width: 10em;
    padding: .1em;
}

#clumpEditor input:hover {
    border-color: var(--accent)
}

#clumpEditor img {
    border-radius: 1em;
    height: 7em;
    width: 7em;
}

/*
styling of bug reporter
 */

#bugReporter {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    top: 55%;
    left: 50%;
    width: 50vw;
    height: 42vw;
    transform: translate(-50%, -60%);
    background: var(--bg2);
    padding: 3% 5%;
    border-radius: .5rem;
    color: var(--text-color1);
    text-align: center;
}

#bugReporter h1 {
    font-size: 3em;
    padding-bottom: .5em;
}

#bugText {
    border: 2px solid var(--accent);
    border-radius: .5rem;
    background: var(--bg2);
    font-size: 3em;
    color: var(--text-color1);
    height: 10em;
    width: 14em;
    padding: .2em;
}

#bugReporterButtons {
    padding-top: 2em;
}

#bugReporter button {
    display:inline-block;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 3em;
    margin: 0 1vw;
    padding: 0 6.5vw 0 2vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
}

#bugClose {
    width: 4em;
}

#bugSubmit {
    width: 4.7em;
}

#bugReporter button:hover {
    border-color: var(--accent)
}

/*
Styling of masterPassMenu
*/

#masterPassMenu {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 22vw;
    transform: translate(-50%, -60%);
    background: var(--bg2);
    padding: 3% 5%;
    border-radius: .5rem;
    color: var(--text-color1);
}

#masterPassMenu h1 {
    font-size: 3em;
}

#masterPassMenu h2 {
    padding-bottom: 1em;
    font-size: 2em;
    color: var(--text-color2);
    padding-top: .5em;
}

#masterPassInputDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

#masterPassInputDiv input {
    border: 2px solid var(--bg2);
    border-radius: .5rem;
    background: var(--bg2);
    font-size: 3em;
    color: var(--text-color1);
    width: 14em;
    padding: .2em;
}

#masterPassInputDiv input:hover {
    border-color: var(--accent)
}

#masterPassInputDiv svg {
    fill: var(--text-color1);
    width: 10%;
    max-height: 4em;
    margin-left: 1em;
    align-self:center;
}

#masterPassInputDiv svg:hover {
    fill: var(--accent);
}

#masterPassMenu #submitMasterPass {
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 2.1vw;
    padding: .2em 5vw;
    margin: 0 1vw;
    font-weight: bold;
    background-color: var(--bg2);
    transition: .05s;
    color: var(--text-color1);
    align-self: center;
    width: 10em;
}

#masterPassMenu #submitMasterPass:hover {
    border-color: var(--accent)
}

/*
What to do if you're on mobile. Doesn't work very well
*/
@media (max-width: 480px) {
    #navbar {
        height: var(--nav-thickness);
        width: 100vw;
        flex-direction: row;
    }

    #navbar .nav-top {
        margin-left: .5em;
    }

    #navbar .nav-middle {
        display: flex;
        flex-direction: row;
    }

    #navbar .nav-link {
        width: 2.5em;
        margin: 0;
    }

    #clumps {
        margin-left: 0;
        padding-top: calc(var(--nav-thickness) + 2em);
    }
}
