<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    {{ if . }}
    <div class="error">{{ . }}</div>
    {{ end }}
    <h1>Login:</h1>
    <form method="POST">
        <div>Username: <input id="login"></div>
        <div>Password: <input id="password"></div>
        <div><button id='loginButton' type="button">Login</button></div>
    </form>
    <script type="text/javascript" src="/static/login.js"></script>
</body>
</html>