<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    {{ if . }}
    <div class="error">{{ . }}</div>
    {{ end }}
    <h1>Register:</h1>
    <form method="POST">
        <div>Username: <input name="login"></div>
        <div>Email: <input type="email" name="email"></div>
        <div>Password: <input type="password" name="password"></div>
        <div><button type="submit">Register</button></div>
    </form>
</body>
</html>